{% extends 'admin_base.html' %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <table id="simple-table" class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th>Content</th>
                    <th>Created by</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for post in posts %}
                <tr>
                    <td>
                        {{post.content}}
                    </td>
                    <td>{{post.created_by}}</td>
                   
                    <td>
                        <div class="hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#postDetail{{post.pk}}">
                                <i class="ace-icon fa  fa-eye bigger-120"></i>
                            </button>

                            <a href="{% url 'update_post' post.pk %}" class="btn btn-xs btn-info">
                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                            </a>

                            <a href="{% url 'delete_post' post.pk %}" type="button" class="btn btn-xs btn-danger">
                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </a>
                        </div>

                        <div class="hidden-md hidden-lg">
                            <div class="inline pos-rel">
                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                    <li>
                                        <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                            <span class="blue">
                                                <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                            <span class="green">
                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                            <span class="red">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>

                <div class="modal fade" id="postDetail{{post.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Post Detail</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <label for="recipient-name" class="col-form-label"><b>Content:</b></label>
                              <br>
                              <p>{{post.content}}</p>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label"><b>Thuộc chủ đề:</b></label>
                                <br>
                                <p>{{post.topic.title}}</p>
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label"><b>Created by:</b></label>
                              <br>
                              <p>{{post.created_by}}</p>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label"><b>Cập nhật lần cuối:</b></label>
                                <br>
                                <p>{{post.updated_at}}</p>
                              </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" type="button" href="{% url 'post_create' %}">Create new post</a>

    </div><!-- /.span -->
</div><!-- /.row -->

{% endblock content %}